@import uk.gov.hmrc.govukfrontend.views.html.components._
@import views.html.components.gds._
@import views.components.gds.Styles._

@this(
  govukLayout: gdsMainTemplate,
  govukTable : GovukTable,
  spanVisuallyHidden: spanVisuallyHidden,
  removeButton: removeButton
)

@(codes: Seq[String], msgKey: String)(implicit messages: Messages)

  @if(codes.nonEmpty) {
    @govukTable(Table(
      rows = codes.zipWithIndex.reverse.map{ case(code, index) =>
        Seq(
          TableRow(
            content = Text(code),
            attributes = Map("id" -> s"$msgKey-table-row$index-label")
          ),
          TableRow(
            content = HtmlContent(removeButton(value = Some(code), hiddenLabel = Some(messages(s"declaration.$msgKey.remove.hint", code)))),
            attributes = Map("id" -> s"$msgKey-table-row$index-remove_button")
          )
        )
      },
      head = Some(List(
        HeadCell(
          content = Text(messages(s"declaration.$msgKey.table.header"))
        ),
        HeadCell(
          content = HtmlContent(spanVisuallyHidden(messages("site.remove.header")))
        )
      ))
    ))
  }
