
/*
====================================
Fixes native-enforcing of date field for date-of-birth fields
as service does not implement native date inputs
====================================
*/
.touchevents .date-of-birth {
  display:block;
}

/*
====================================
Work-around for issue on iOS VoiceOver with AFE version of visuallyhidden
https://github.com/hmrc/assets-frontend/issues/727
====================================
*/
.visually-hidden {
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
height: 1px;
width: 1px;
margin: -1px;
padding: 0;
border: 0;
}

/*
====================================
Page heading for all our form pages
====================================
*/
.page-heading {
  display: table;
  padding-top: 8px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.page-heading .heading-secondary {
  line-height: 1.25;
}

.page-heading .title {
  margin: 0px;
}

.page-heading .form-hint {
  margin-top: 3px;
}
/*
====================================
Welsh/English language selector
====================================
*/
.translate {
  margin: 0;
}
.translate + .content__body h1 {
  margin-top: 0.8em;
}

/*
====================================
Styling for tables on "Check Your Answers Page"
====================================
*/
.exports-summary-list__key {
  width: 30%;
  font-weight: bold;
  vertical-align: top;
  word-break: break-word;
}

.exports-summary-list__key_value {
  vertical-align: top;
  word-break: break-word;
}

.exports-summary-list__value {
  width: 60%;
  word-break: break-all;
}

.exports-summary-list__actions {
  width: 10%;
  padding-right: 0;
  text-align: right;
}

.exports-table__cell {
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #b1b4b6;
  text-align: left;
  vertical-align: top;
  width: 20%;
}

.exports-table__cell--numeric {
  text-align: right;
}

.heading-medium {
  margin-top: 1.875em;
  margin-bottom: .83333em;
  white-space: nowrap;
}

.heading-small {
  display: block;
  white-space: nowrap;
}

.legal-declaration-warning {
  margin-bottom: 40px;
}

/*
=============================================
Alignment for table cells with numeric values
=============================================
*/
.govuk-table__cell--numeric {
  text-align: right;
}

.input-submit {
  background: none;
  border: solid #1d70b8;
  border-width: 0 0 1px;
  color: #1d70b8;
  padding: 0;
}

.input-submit:hover {
  color: #003078;
  border: solid #003078;
  border-width: 0 0 1px;
}

.currency-dropdown>div:nth-child(1) input {
      height: 38px;
}
@media only screen and (max-width: 799px) {
  .currency-dropdown>div:nth-child(1) {
     margin-bottom: 25px;
  }
}
@media only screen and (min-width: 800px) {
  .currency-dropdown>div:nth-child(1) {
     position: relative;
     top: -36px;
  }
}

.error-message {
  color: #d4351c;
  font-weight: 700;
}

/* "BETA" label in phaseBanner */
.beta {
  color: #fff;
  background-color: #1d70b8;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}
