.eds-hr {
    display: block;
    border: 0;
    border-top: 5px solid #005ea5;
    margin: 15px 0 30px;
    padding: 0;
}

.home-section .tile {
    font-size: 16px;
    flex: 1;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 0;
}

.home-section .grid-row {
    margin: 0;
    display: flex;
    overflow: hidden;
}

.home-section .tile .tile-top {
    display: block;
    background: #f8f8f8;
    padding: 12px;
    text-decoration: none;
    border: 1px solid #f8f8f8;
}

.home-section .tile .tile-header {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 600;
}

.home-section .tile .tile-detail {
    color: #0b0c0c;
}

.home-section .tile .tile-detail-main {
    font-weight: 600;
    margin-bottom: 15px;
}

.home-section .tile .tile-top.large {
    min-height: 150px;
}

.home-section .tile .tile-links {
    padding: 12px;
    min-height: 110px;
}

.home-section .tile .tile-links a {
    display: block;
    margin-bottom: 0px;
    line-height: 20px;
}

.home-section .tile:last-child {
    margin-right: 0;
}

.table {
    display: table;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.table-head {
    display: table-row;
}

.table-row {
    padding-bottom: 0;
    margin-bottom: 30 px;
}

.table-cell {
    min-height: auto;
    font-size: inherit;
    border-bottom: 1px solid #bfc1c3;
    padding: 15px;
    padding-left: 0;
    vertical-align: middle;
}

.bold-small {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
}

.column-15 {
    width: 15%;
}

.column-16 {
    width: 16%;
}

.column-20 {
    width: 20%;
}

.recent-declarations {
    background-color: #f8f8f8;
    border: 1px solid #bfc1c3;
    font-size: 16px;
    overflow: hidden;
    table-layout: fixed;
}

.all-declarations {
    margin: 20px 2% 15px 2%;
}

.margin-left {
    margin-left: 2%;
}

.recent-header {
    margin-top: 10px !important;
}

.pagination {

}

.pagination-summary {
    float: left;
    margin: 2% 0% 2% 2%;
}

.pagination-buttons {
    float: right;
    margin: 2% 2% 2% 0%;
    #prev {
        float: left;
        margin-right: 5px;
    }
    #numbers {
        margin-right: 5px;
    }
    #next {
        float: right
    }
}