@import '_variables';

.align-right {
  text-align: right;
}

.rejected-field-name {
  ol, ul {
    margin: 0;
    padding-inline-start: 0;
    list-style-type: none;
  }

  li {
    font-weight: 700;
  }

  li:before {
    content: "- "
  }

  li:first-child:before {
    content: ""
  }

  li:nth-child(2) {
    padding-left: 1rem;
  }

  li:nth-child(3) {
    padding-left: 2rem;
  }
}

.button-link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:hover {
    color: #2e8aca;
  }
  &:focus {
    color: inherit;
  }
  &:visited {
    color: #4c2c92;
  }
}

.table-head {
  font-weight: bold;
}

.bold {
  font-weight:bold;
}

.radio-divider {
  display: block;
  float: none;
  clear: left;
  position: relative;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
}

button:focus {
  outline: 3px solid #ffbf47;
}

.blue-line {
  height: 1px;
  color: $blue;
  background-color: $blue;
  border: none;
  margin-bottom: 5px;
}