/*
====================================
CSS Classes to support GDS Design System SummaryLists as implemented by the Exports Prototype
====================================
*/
.govuk-summary-list__actions-list-item:last-child {
  margin-left: 10px;
}

.govuk-summary-list__actions-list-item:not(:last-child) {
  border-right: 0px;
}