/*
====================================
CSS Classes to support GovUK Accessible autocomplete Dropdown
Context: The
====================================
*/
.govuk-template__body {
  margin: 0;
  background-color: #fff;
  position: relative;
  z-index: -2;
}