
.ceds-pagination {}

.ceds-pagination__summary {
  @extend .govuk-grid-column-one-half;
}

.ceds-pagination__controls {
  @extend .govuk-grid-column-one-half;
  @extend .align-right;
}

.ceds-pagination__items {
  display: inline;
}

// Can it be changed to class?
.ceds-pagination__items .ceds-pagination__item {
  display: inline;
  margin: 0 5px;
}

@media (min-width: 641px) {
  .ceds-pagination__item--next {
    margin-left: 10px;
  }
}

.ceds-pagination__item {
  @extend .govuk-body;
}

.ceds-pagination__item--prev, .ceds-pagination__item--next {
  margin-right: 10px;
}

.ceds-pagination__item--dots {
  @extend .govuk-\!-font-weight-bold;
}

.ceds-pagination__item--active {
  @extend .govuk-\!-font-weight-bold;
}

.ceds-pagination__link {
  @extend .govuk-link--no-visited-state
}
