
.cds-exports-tabs {
    margin-top: 5px;
    margin-bottom: 20px
}

@media (min-width:40.0625em) {
    .cds-exports-tabs {
        margin-bottom: 30px
    }
}

.cds-exports-tabs__title {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin-bottom: 10px
}

@media print {
    .cds-exports-tabs__title {
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
    .cds-exports-tabs__title {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    .cds-exports-tabs__title {
        font-size: 14pt;
        line-height: 1.15;
        color: #000
    }
}

.cds-exports-tabs__list {
    padding: 0;
    list-style: none;
    margin: 0 0 20px
}

@media (min-width:40.0625em) {
    .cds-exports-tabs__list {
        margin-bottom: 30px
    }
}

.cds-exports-tabs__list-item {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-left: 25px
}

@media print {
    .cds-exports-tabs__list-item {
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
    .cds-exports-tabs__list-item {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    .cds-exports-tabs__list-item {
        font-size: 14pt;
        line-height: 1.15
    }
}

.cds-exports-tabs__list-item:before {
    color: #0b0c0c;
    content: "\2014 ";
    margin-left: -25px;
    padding-right: 5px
}

@media print {
    .cds-exports-tabs__list-item:before {
        color: #000
    }
}

.cds-exports-tabs__tab {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 10px
}

@media print {
    .cds-exports-tabs__tab {
        font-family: sans-serif
    }
}

.cds-exports-tabs__tab:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    background-color: #fd0;
    -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none
}

.cds-exports-tabs__tab:link {
    color: #1d70b8
}

.cds-exports-tabs__tab:visited {
    color: #4c2c92
}

.cds-exports-tabs__tab:hover {
    color: #003078
}

.cds-exports-tabs__tab:active, .cds-exports-tabs__tab:focus {
    color: #0b0c0c
}

.cds-exports-tabs__panel {
    margin-bottom: 30px
}

@media (min-width:40.0625em) {
    .cds-exports-tabs__panel {
        margin-bottom: 50px
    }
}

@media (min-width:40.0625em) {
    .cds-exports-tabs__list {
        margin-bottom: 0;
        border-bottom: 1px solid #b1b4b6
    }

    .cds-exports-tabs__list:after {
        content: "";
        display: block;
        clear: both
    }

    .cds-exports-tabs__title {
        display: none
    }

    .cds-exports-tabs__list-item {
        position: relative;
        margin-right: 5px;
        margin-bottom: 0;
        margin-left: 0;
        padding: 10px 20px;
        float: left;
        background-color: #f3f2f1;
        text-align: center
    }

    .cds-exports-tabs__list-item:before {
        content: none
    }

    .cds-exports-tabs__list-item--selected {
        position: relative;
        margin-top: -5px;
        margin-bottom: -1px;
        padding: 14px 19px 16px;
        border: 1px solid #b1b4b6;
        border-bottom: 0;
        background-color: #fff
    }

    .cds-exports-tabs__list-item--selected .cds-exports-tabs__tab {
        text-decoration: none
    }

    .cds-exports-tabs__tab {
        margin-bottom: 0
    }

    .cds-exports-tabs__tab:link, .cds-exports-tabs__tab:visited {
        color: #0b0c0c
    }
}

@media print and (min-width:40.0625em) {
    .cds-exports-tabs__tab:link, .cds-exports-tabs__tab:visited {
        color: #000
    }
}

@media (min-width:40.0625em) {
    .cds-exports-tabs__tab:hover {
        color: rgba(11, 12, 12, .99)
    }

    .cds-exports-tabs__tab:active, .cds-exports-tabs__tab:focus {
        color: #0b0c0c
    }
}

@media print and (min-width:40.0625em) {
    .cds-exports-tabs__tab:active, .cds-exports-tabs__tab:focus {
        color: #000
    }
}

@media (min-width:40.0625em) {
    .cds-exports-tabs__tab:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }

    .cds-exports-tabs__panel {
        margin-bottom: 0;
        padding: 30px 20px;
        border: 1px solid #b1b4b6;
        border-top: 0
    }

    .cds-exports-tabs__panel>:last-child {
        margin-bottom: 0
    }

    .cds-exports-tabs__panel--hidden {
        display: none
    }
}
