/*
====================================
this fixes a specificity issue with content__body p selectors
see https://github.com/hmrc/assets-frontend/issues/676
====================================
*/
p.lede {
  font-family: "nta",Arial,sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

/*
====================================
Utility bold
Pulled from GDS elements typography
====================================
*/
.bold {
  font-weight: 700;
}
label > .bold {
  display: block; /*temp fix until form story can fix label structure*/
}
