
$media-query-breakpoint: 641px;

/*
====================================
Utility alignments
====================================
*/
.u-align--right {
  text-align: right;
}
@media screen and (min-width: #{$media-query-breakpoint}){
  .u-align--tablet-right {
    text-align: right;
  }
}
.u-align--center {
    text-align: center;
}