@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_tabular-data';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';
@import 'partials/_autocomplete';

a.button--gray, button.button--gray, .button--gray:visited {
  background-color: $gray;
  color: $black !important;
  box-shadow: 0 2px 0 $gray--dark;

  &:hover, &:focus {
    background-color: $gray--dark;
    color: $black;
  }
}


.align-right {
  text-align: right;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.button-link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:hover, &:focus {
    color: #2e8aca;
  }

  &:visited {
    color: #4c2c92;
  }
}

.table-head {
  font-weight: bold;
}