@import views.html.components.gds._
@import views.helpers.Title

@this(
  govukLayout: gdsMainTemplate,
  pageTitle: pageTitle,
  paragraphBody: paragraphBody,
)

@(displaySignOut: Boolean = false)(implicit request: Request[_], messages: Messages)

@govukLayout(title = Title("unauthorisedAgent.heading"), displaySignOut = displaySignOut) {

  @pageTitle(messages("unauthorisedAgent.heading"))

  @paragraphBody(messages("unauthorisedAgent.paragraph.1"))
  @paragraphBody(messages("unauthorisedAgent.paragraph.2"))

}